{
	# debug
}

:8080 {
	route /assets/* {
		file_server {
			root context/
		}
	}

	route {
		xtemplate {
			funcs_modules xrss

			template_root templates
			context_root context

			database {
				driver sqlite3
				connstr file:rss.sqlite?_journal=WAL&_synchronous=NORMAL&_foreign_keys=true&_vacuum=full
			}
		}
	}
}
