{
}

:8080

route /static/* {
	file_server
}

route {
	xrss {
		database {
			driver sqlite
			connstr file:xrss.db?_pragma=journal_mode(WAL)&_pragma=synchronous(1)&_pragma=foreign_keys(1)&_pragma=auto_vacuum(2)
		}
	}
}
