<!doctype html>
<meta charset="UTF-8" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/reset.css">
<script src="/assets/htmx.org@1.9.3/dist/htmx.js"></script>
<script>
// 🌘 CSS Scope Inline (https://github.com/infogulch/css-scope-inline)
if (!window.cssScopeCount)
new MutationObserver(mutations => {
	document?.body?.querySelectorAll('style:not([processed])').forEach(node => { // Faster than walking MutationObserver results when recieving subtree (DOM swap, htmx, ajax, jquery).
		node.setAttribute('processed','')
		node.parentNode.dataset.cssScope ??= (window.cssScopeCount++)
		node.textContent = node.textContent
			.replace(/(^|\.|(?<=[^-\w]))me(?![-\w])/g, `[data-css-scope='${node.parentNode.dataset.cssScope}']`)
			.replace(/((@keyframes\s|animation:|animation-name:)[^{};]*)\bme/g, `$1css-scope-${node.parentNode.dataset.cssScope}`)
			.replace(/(?:@media)\s(xs-|sm-|md-|lg-|xl-|sm|md|lg|xl|xx)(?![-\w])/g,
				(match, part1) => { return '@media '+({'sm':'(min-width: 640px)','md':'(min-width: 768px)', 'lg':'(min-width: 1024px)', 'xl':'(min-width: 1280px)', 'xx':'(min-width: 1536px)', 'xs-':'(max-width: 639px)', 'sm-':'(max-width: 767px)', 'md-':'(max-width: 1023px)', 'lg-':'(max-width: 1279px)', 'xl-':'(max-width: 1535px)'}[part1]) }
			)
	})
}).observe(document.documentElement, {childList: true, subtree: true})
window.cssScopeCount ??= 1
</script>
<script>
	function scrollElementIntoView(selector) {
		document.querySelector(selector).scrollIntoView({ behavior: 'smooth' });
	}
</script>
