<!doctype html>
<meta charset="UTF-8" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/reset.css">
<!-- <meta name="htmx-config" content='{"useTemplateFragments":true}'> -->  <!-- breaks perf -->
<script src="/assets/htmx.org@1.9.3/dist/htmx.js"></script>
<script>
	// 🌘 CSS Scope Inline (https://github.com/infogulch/css-scope-inline)
	((window) => {
		if (window.scopedCssMutationObserver) return; // Don't install MutationObserver if one is already present
		window.scopedCssMutationObserver = true;
		var nextScopeId = 0;
		const CSS_SCOPE_ANI_PATTERN = new RegExp('(?<=(@keyframes|animation:|animation-name:)[^{};]+)(\\\\:scope)', 'g'); // Precompile the matching pattern
		const CSS_SCOPE_PATTERN = new RegExp('(:scope)(?![A-Za-z0-9\_\-])', 'g'); // Precompile the matching pattern
		new MutationObserver((mutations, observer) => {
			for (let mutation of mutations) {
				if (mutation.type !== "childList") continue;  // Skip if not mutating nodes.
				const nodes = [...mutation.addedNodes];  // Get new nodes.
				for (var node = nodes.shift(); node != null; node = nodes.shift()) { // Process nodes.
					nodes.push(...node.childNodes); // Also process children.
					if (node.nodeName !== 'STYLE') continue; // Skip if not a <style>
					if (!node.parentNode || node.parentNode?.nodeName === 'HEAD') continue // Skip if no parent. Don't style <head>
					if (!('scoped' in node.dataset) && !node.hasAttribute('scoped')) continue; // Skip if missing scoped indicator.
					delete node.dataset.scoped; // Remove indicator to prevent future processing.
					node.removeAttribute('scoped');
					var scopeId = node.parentNode.dataset.cssScope; // Get parent's current scope id if present
					if (!scopeId) {
						window.maxScopedCssId = scopeId = ++nextScopeId; // Increment scope id, expose the max as a window variable.
						node.parentNode.dataset.cssScope = scopeId; // Set parent's scope id as a data-* attribute, avoiding clashes with existing css
					}
					node.textContent = node.textContent
						.replace(CSS_SCOPE_ANI_PATTERN, `data-css-scope-${scopeId}`) // Replaces animation match
						.replace(CSS_SCOPE_PATTERN, `[data-css-scope="${scopeId}"]`); // Replaces match with attribute selector
				}
			}
		}).observe(document.documentElement, { childList: true, subtree: true });
	})(window);
</script>
<script>
	function scrollElementIntoView(selector) {
		document.querySelector(selector).scrollIntoView({ behavior: 'smooth' });
	}
</script>
