{{define "schema"}}
CREATE TABLE IF NOT EXISTS feed(
id INTEGER PRIMARY KEY,
feed_link TEXT,
title TEXT,
data TEXT CHECK (json_valid(data))
) STRICT;

CREATE TABLE IF NOT EXISTS item(
id INTEGER PRIMARY KEY,
feed_id INTEGER,
data TEXT CHECK (json_valid(data)),
item_id TEXT GENERATED ALWAYS AS (data ->> '$.guid') STORED,
FOREIGN KEY (feed_id) REFERENCES feed(id)
) STRICT;

CREATE UNIQUE INDEX IF NOT EXISTS item_ids ON item(feed_id, item_id);

CREATE TABLE IF NOT EXISTS fetch_log(
id INTEGER PRIMARY KEY,
feed_id INTEGER NOT NULL,
fetched_on TEXT NOT NULL,
fetched_duration TEXT NOT NULL,
fetched_count INTEGER NOT NULL,
added_count INTEGER NOT NULL,
FOREIGN KEY (feed_id) REFERENCES feed(id)
) STRICT;

CREATE TABLE IF NOT EXISTS user(
id INTEGER PRIMARY KEY,
username TEXT UNIQUE NOT NULL
) STRICT;

CREATE TABLE IF NOT EXISTS subscription(
user_id INTEGER,
feed_id INTEGER,
FOREIGN KEY (user_id) REFERENCES user(id),
FOREIGN KEY (feed_id) REFERENCES feed(id),
PRIMARY KEY (user_id, feed_id)
) STRICT;

CREATE TABLE IF NOT EXISTS seen(
user_id INTEGER NOT NULL,
feed_id INTEGER NOT NULL,
item_id INTEGER NOT NULL,
FOREIGN KEY (user_id) REFERENCES user(id),
FOREIGN KEY (item_id) REFERENCES item(id),
FOREIGN KEY (feed_id) REFERENCES feed(id),
PRIMARY KEY (user_id, feed_id, item_id),
UNIQUE (user_id, item_id)
) STRICT;

DROP VIEW IF EXISTS v_unseen;
CREATE VIEW v_unseen AS
SELECT subscription.user_id, subscription.feed_id, item.id as item_id
FROM subscription
JOIN item ON subscription.feed_id = item.feed_id
EXCEPT
SELECT user_id, feed_id, item_id
FROM seen;

DROP VIEW IF EXISTS v_unseen_counts;
CREATE VIEW v_unseen_counts AS
SELECT user_id, feed_id, COUNT(item_id) as unread_count
FROM v_unseen
GROUP BY user_id, feed_id;

DROP VIEW IF EXISTS v_feeds_list;
CREATE VIEW v_feeds_list AS
SELECT user_id, feed_id, title, unread_count
FROM v_unseen_counts
JOIN feed ON feed.id = feed_id;
{{end}}

{{define "INIT configure-schema"}}
{{$user_version := .QueryVal "PRAGMA user_version"}}
{{$schema := .Template "schema" $user_version}}
{{ .Exec $schema }}
{{end}}