{{define "schema"}}
CREATE TABLE IF NOT EXISTS feed(
id INTEGER PRIMARY KEY,
title TEXT,
feed_link TEXT,
data TEXT CHECK (json_valid(data))
) STRICT;

CREATE TABLE IF NOT EXISTS item(
id INTEGER PRIMARY KEY,
feed_id INTEGER,
data TEXT CHECK (json_valid(data)),
item_id TEXT GENERATED ALWAYS AS (data ->> '$.guid') STORED,
FOREIGN KEY (feed_id) REFERENCES feed(id)
) STRICT;

CREATE UNIQUE INDEX IF NOT EXISTS item_ids ON item(feed_id, item_id);
{{end}}

{{define "INIT /_schema.html"}}
{{$user_version := .QueryVal "PRAGMA user_version"}}
{{$_ := .Exec (.Template "schema" $user_version)}}
{{end}}